body{
  font-family: Arial;
  background:#f0f0f0;
}

.container{
  width:700px;
  margin:auto;
  text-align:center;
}

.controls{
  margin:20px 0;
  display:flex;
  gap:10px;
  justify-content:center;
}

.files{
  background:white;
  padding:20px;
  border-radius:10px;
}

.file{
  display:flex;
  gap:10px;
  padding:5px;
}

.login{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top:150px;
  gap:10px;
}